<app-header [userInfo]="{}" type="public" [includeTitle]="true"></app-header>
<div class="playlist-content animate fadeInBottom">
  <div class="playlist-wrapper">
    <div class="playlist-header">
      <div class="img-wrapper">
        <ng-container *ngFor="let track of playlist; let i = index">
          <img *ngIf="i <= 3" [src]="track.album.images[1].url" />
        </ng-container>
      </div>
      <div class="playlist-info">
        <h1 class="playlist-title">New Playlist</h1>
        <h1 class="playlist-description">
          Login to save and export your playlist!
        </h1>
      </div>

      <div class="playlist-actions" *ngIf="largeView">
        <button class="primary" (click)="loginSpotify()">
          Save this playlist
        </button>
        <button class="primary" (click)="createNew()">
          Create new playlist
        </button>
      </div>
      <div class="playlist-actions" *ngIf="!largeView">
        <ngx-menu #playlistmenu>
          <a href="javascript:void(0);" (click)="loginSpotify()">
            Save this playlist
          </a>
          <a href="javascript:void(0);" (click)="createNew()">
            Create new playlist
          </a>
        </ngx-menu>
        <img
          class="more-button"
          src="../../../assets/img/show-more-button-with-three-dots.svg"
          (click)="playlistmenu.toggle($event)"
        />
      </div>
    </div>
    <div class="playlist-tracklist">
      <div class="track-header">
        <span class="header-item title">Title</span>
        <span class="header-item artist push-right">Artist</span>
        <span class="header-item album" *ngIf="largeView">Album</span>
        <span class="header-item length"
          ><img class="header-item-img" src="../../../assets/img/clock.svg"
        /></span>
      </div>
      <ng-container *ngFor="let track of playlist; let even = even">
        <div class="track-item" [class.offset-bg]="even">
          <span class="track-title">{{
            track.name | truncate: [titleWidth, '...']
          }}</span>
          <span class="track-artist">
            {{ getArtists(track) | truncate: [defaultWidth, '...'] }}
          </span>
          <span class="track-album" *ngIf="largeView">{{
            track.album.name | truncate: [defaultWidth, '...']
          }}</span>
          <span class="track-length">{{
            track.duration_ms | durationParse
          }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
