<div class="playlist-list-wrapper">
  <ng-container *ngIf="playlists.length > 0">
    <ng-container *ngFor="let playlist of playlists">
      <div class="playlist-item" (click)="viewPlaylist(playlist)">
        <div class="info">
          <span class="name">{{ playlist.name }}</span>
          <span class="description">{{ playlist.description }}</span>
        </div>
        <div class="actions">
          <a
            class="action-link"
            href="javascript:void(0);"
            (click)="viewPlaylist(playlist); $event.stopPropagation()"
            >View this playlist</a
          >
          <a
            *ngIf="playlist['url']"
            class="action-link"
            [href]="playlist['url']"
            target="_blank"
            (click)="$event.stopPropagation()"
            >Open in Spotify</a
          >
          <a
            class="action-link"
            href="javascript:void(0);"
            (click)="exportPlaylist(playlist); $event.stopPropagation()"
            ><span *ngIf="playlist['url']">Re-</span>Export to Spotify</a
          >
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="playlists.length === 0">
    <div class="no-playlists">
      <h1 class="header">Nothing here yet!</h1>
      <h1 class="tagline">Any playlists you create will show up right here</h1>
      <button class="primary none-button" (click)="createNew()">
        Create a playlist
      </button>
    </div>
  </ng-container>
</div>
