<div class="playlist-list-wrapper">
  <ng-container *ngFor="let playlist of playlists">
    <div class="playlist-item">
      <div class="info">
        <span class="name">{{ playlist.name }}</span>
        <span class="description">{{ playlist.description }}</span>
      </div>
      <div class="actions">
        <a class="action-link" href="javascript:void(0);">View this playlist</a>
        <a class="action-link" href="javascript:void(0);">Open in Spotify</a>
      </div>
    </div>
  </ng-container>
</div>
