<div class="page-wrapper">
  <div class="hero-header">
    <a class="login-link" href="javascript:void(0);" (click)="loginSpotify()"
      >Login with Spotify</a
    >
  </div>
  <div class="hero">
    <h1 class="hero-heading">Magic playlist</h1>
    <h1 class="hero-tagline">
      Generate a Spotify playlist - enter an artist's name to begin
    </h1>
    <input
      class="hero-input"
      type="text"
      placeholder="Start typing an artist's name"
    />
    <button class="hero-button primary">
      Search
    </button>
  </div>
</div>
