<div class="playlist-content">
  <div class="playlist-wrapper">
    <div class="playlist-header">
      <div class="img-wrapper">
        <ng-container *ngFor="let track of playlist; let i = index">
          <img *ngIf="i <= 3" [src]="track.album.images[1].url" />
        </ng-container>
      </div>
      <div class="playlist-info">
        <h1 class="playlist-title" *ngIf="!editingTitle" (click)="editTitle()">
          {{ playlistTitle | truncate: ['15', '...'] }}
          <span class="edit-icon"></span>
        </h1>
        <input
          #title
          type="text"
          class="title-input"
          [class.hidden]="!editingTitle"
          [class.visible]="editingTitle"
          [placeholder]="playlistTitle"
          [(ngModel)]="playlistTitle"
          (blur)="editingTitle = false"
          (keyup.enter)="editingTitle = false"
        />
        <h1
          class="playlist-description"
          *ngIf="!editingDesc"
          (click)="editDesc()"
        >
          {{ playlistDesc }} <span class="edit-icon"></span>
        </h1>
        <textarea
          #desc
          type="text"
          class="desc-input"
          [class.hidden]="!editingDesc"
          [class.visible]="editingDesc"
          [placeholder]="playlistDesc"
          [(ngModel)]="playlistDesc"
          (blur)="editingDesc = false"
          (keyup.enter)="editingDesc = false"
        ></textarea>
      </div>

      <div class="playlist-actions">
        <button class="primary" (click)="savePlaylist()" *ngIf="!playlistId">
          Save this playlist
        </button>
        <button class="primary" (click)="createNew()" *ngIf="!playlistId">
          Create new playlist
        </button>
        <button class="primary" (click)="updatePlaylist()" *ngIf="playlistId">
          Update playlist
        </button>
        <button class="primary" (click)="exportPlaylist()" *ngIf="playlistId">
          Export to Spotify
        </button>
      </div>
    </div>
    <div class="playlist-tracklist">
      <div class="track-header">
        <span class="header-item title">Title</span>
        <span class="header-item artist push-right">Artist</span>
        <span class="header-item album">Album</span>
        <span class="header-item length">Length</span>
      </div>
      <ng-container *ngFor="let track of playlist; let even = even">
        <div class="track-item" [class.offset-bg]="even">
          <span class="track-title">{{
            track.name | truncate: ['35', '...']
          }}</span>
          <span class="track-artist">
            {{ getArtists(track) | truncate: ['20', '...'] }}
          </span>
          <span class="track-album">{{
            track.album.name | truncate: ['20', '...']
          }}</span>
          <span class="track-length">{{
            track.duration_ms | durationParse
          }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
