.search-wrapper {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .search-heading {
    font-size: 3rem;
    font-weight: 600;
  }

  .search-input {
    width: 60vw;
    margin: 20px;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.375);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.375);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.375);
  }

  .search-button {
    margin: 20px;
  }
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
  flex-wrap: wrap;

  .result {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #545454;
    width: 180px;
    height: 240px;
    margin: 10px;
    padding: 20px 40px;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1),
      0 3px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;

    .info-text {
      color: rgba(190, 110, 203, 1);
      opacity: 0;
    }

    .artist-image {
      clip-path: circle(30px at center);
      height: 90px;
      width: 90px;
      padding: 5px;
    }

    .placeholder-wrapper {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      color: #fff;
      background: #545454;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
    }

    &:hover {
      -webkit-box-shadow: 0 14px 21px rgba(0, 0, 0, 0.1),
        0 6px 12px rgba(0, 0, 0, 0.08);
      box-shadow: 0 14px 21px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.08);

      .info-text {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1024px) {
  .search-wrapper {
    .search-input {
      width: 80vw;
    }
  }
  // .search-results {
  //   padding: 10px 50px;
  // }
}
@media (max-width: 900px) {
  .search-wrapper {
    .search-heading {
      font-size: 2.5rem;
    }
  }
  // .search-results {
  //   padding: 10px 30px;
  // }
}
@media (max-width: 600px) {
  .search-wrapper {
    .search-heading {
      font-size: 2rem;
    }
  }
}
