<div class="main-header" *ngIf="type !== 'public'">
  <h1 class="title" *ngIf="includeTitle">
    Magic playlist
  </h1>
  <div class="header-nav">
    <a class="nav-link" *ngIf="largeView" routerLink="/me/playlists/add"
      >New Playlist</a
    >
    <a class="nav-link" *ngIf="largeView" routerLink="/me/playlists"
      >My Playlists</a
    >
    <div class="avi-wrapper" *ngIf="userInfo && largeView">
      <img
        *ngIf="userInfo['images'] && userInfo['images'].length > 0"
        [src]="userInfo['images'][0]['url']"
      />
      <span
        class="img-placeholder"
        *ngIf="
          !userInfo['images'] ||
          (userInfo['images'] && userInfo['images'].length === 0)
        "
        >{{ userInfo.display_name[0] }}</span
      >
    </div>

    <ngx-menu #menu>
      <a routerLink="/me/playlists/add">New Playlist</a>
      <a routerLink="/me/playlists">My Playlists</a>
    </ngx-menu>
    <div
      class="avi-wrapper"
      *ngIf="userInfo && !largeView"
      (click)="menu.toggle($event)"
    >
      <img
        *ngIf="userInfo['images'] && userInfo['images'].length > 0"
        [src]="userInfo['images'][0]['url']"
      />
      <span
        class="img-placeholder"
        *ngIf="
          !userInfo['images'] ||
          (userInfo['images'] && userInfo['images'].length === 0)
        "
        >{{ userInfo.display_name[0] }}</span
      >
    </div>

    <a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a>
  </div>
</div>

<div
  class="main-header hero-header"
  [class.space-between]="includeTitle"
  *ngIf="type === 'public'"
>
  <h1 class="title" *ngIf="includeTitle">
    <a class="" routerLink="">Magic playlist</a>
  </h1>
  <a class="login-link" href="javascript:void(0);" (click)="loginSpotify()"
    >Login with Spotify</a
  >
</div>
