<div class="main-header" *ngIf="type !== 'public'">
  <h1 class="title" *ngIf="includeTitle">
    Magic playlist
  </h1>
  <div class="header-nav">
    <a class="nav-link" routerLink="/me/playlists/add">New Playlist</a>
    <a class="nav-link" routerLink="/me/playlists">My Playlists</a>
    <!-- <button (click)="addPlaylist()">add</button>
    <button (click)="listPlaylists()">list</button> -->
    <div class="avi-wrapper">
      <img
        *ngIf="userInfo['images'] && userInfo['images'].length > 0"
        [src]="userInfo['images'][0]['url']"
      />
      <span
        *ngIf="
          !userInfo['images'] ||
          (userInfo['images'] && userInfo['images'].length === 0)
        "
      ></span>
    </div>
    <button class="no-fill" (click)="logout()">Logout</button>
  </div>
</div>

<div
  class="main-header hero-header"
  [class.space-between]="includeTitle"
  *ngIf="type === 'public'"
>
  <h1 class="title" *ngIf="includeTitle">
    <a class="" routerLink="">Magic playlist</a>
  </h1>
  <a class="login-link" href="javascript:void(0);" (click)="loginSpotify()"
    >Login with Spotify</a
  >
</div>
